<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394376301035-9css5lkp5hdps903dumd52gk9h7vetk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394376301035-9css5lkp5hdps903dumd52gk9h7vetk3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>394376301035-4s5arkeht8kdi3gnorki3c401jopripj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxsumPZA4_aeBBJ2PYWH-TVVBEsHf-F1o</string>
	<key>GCM_SENDER_ID</key>
	<string>394376301035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ddd.DDDAttendance</string>
	<key>PROJECT_ID</key>
	<string>ddd-project-a6eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>ddd-project-a6eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394376301035:ios:1a000002210d7ff31cf1ae</string>
	<key>DATABASE_URL</key>
	<string>https://ddd-project-a6eb3.firebaseio.com</string>
</dict>
</plist>